/* /Pages/Home.razor.rz.scp.css */
body[b-hmq195zh0g] {
}

.drawArea[b-hmq195zh0g] {
    border: 1px solid black;
}

h1[b-hmq195zh0g] {
    color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
